.jumbotron{
	background-color:yellow;
	color: black;
	margin-top: 50px;
}

.btn {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:0;
	color: blueviolet;
}

.footer { 
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

.card-body {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
}

.footer-address-icon {
	padding-right: 15px;
}